<html>

<head>
  <title>Store</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="javascripts/app.js"></script>
</head>

<body ng-app="voting" ng-controller="MainCtrl">
  <div style="margin-left: 5em;">
   
   <h1 id="header"><strong>  Store Management Interface </strong></h1>
    <form ng-submit="addCandidate()">
      <h3>Add a New Product:</h3>
      <label>Product Name<input type="text" ng-model="formContent"></input> </label>
      <label>Price<input type="text" ng-model="formPrice"></input></label>
      <label>Picture URL<input type="text" ng-model="formPicurl"></input></label>
      <button type="submit">Add Product</button>
    </form>

    <h1 id="header"><strong>Current Products</strong></h1>
    <div id="main">
      <div ng-repeat="candidate in candidates | orderBy:['Name']">
        <span class="glyphicon glyphicon-trash" ng-click="delete(candidate)"></span> <strong>{{candidate.Name}}</strong> -price ${{candidate.price}} - ordered: {{candidate.votes}}
        <img ng-src="{{candidate.image}}">

      </div>
    </div>
</body>

</html>
